#map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .has-shadow {
    box-shadow: 0px 5px 30px rgb(48, 48, 48) !important;
    z-index: 10;
  }
  