@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
.is-active {
    background-color: #c7a500 !important;
    border-radius: 25px !important;
}

a.navbar-item:hover {
    background-color: #c7a500 !important;
    border-radius: 25px;
}

.landing-image {
    /* background: url("../aradWatercolor.png") center; */
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 90vh;
}

/* .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */

  /* a.navbar-item.nope:hover {
    background-color: transparent;
    border-radius: 25px;
} */

.my-dropdown {
    position: relative;
    /* display: inline-block; */
}

.my-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.my-dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .my-dropdown:hover {
    background-color: #c7a500 !important;
    border-radius: 25px;
} */

.my-dropdown:hover .my-dropdown-content {
    display: block;
}